html {
    box-sizing: border-box;
    line-height: 1.15;
    
    background: url(/assets/plx.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: transparent;
    color: #fff;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.7;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}
main {
    margin: 2em 1em 1em;
}
.kolofon {
    background: rgb(255  255 255 / 60%);
    color: black;
    padding: 1em;
    border-radius: 1em;
}
dt {
    color: #777;
}
a {
    color: black;
}